body {
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
    font-size: 14px;
    color: #253948;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Ruda', sans-serif;
    color: #d4363b;
}

h1 {
    font-size: 2.3em;
    font-weight: 900;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
    letter-spacing: .5px;
}

a {
    color: #82ac39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.clear { clear: both; }

/* Header */

#header {
    width: 100%;
    margin: 0 auto;
    padding: 8px 0 0;
    background: url(../img/tablecloth_red.png) repeat;
    border-bottom: 8px solid #d4363b;
}

#header img {
    display: block;
    margin: 0 auto;
    max-width: 154px;
}

/* Menu */

#menu {
    margin: 0 auto;
    padding: 20px 0 0;
    max-width: 1000px;
}

#menu ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
    list-style: none;
    line-height: normal;
    background-color: #d4363b;
    border-top: 8px solid #d4363b;
}

#menu li {
    color: #ffffff;
    padding: 0 1%;
    margin: 0 1%;
    display: inline-block;
    background-color: #d4363b;
}

#menu a {
    font-size: .87em;
    display: block;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffbdbf;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Page */

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Typography */

#typography {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Swatches */

#swatches {
    margin: 0 auto;
    padding: 5%;
    max-width: 1000px;
}

/* Colors */

.colors ul {
    margin: 0;
    padding: 0;
}

.colors li {
    float: left;
    list-style-type: none;
    margin: 1%;
    padding-bottom: 5%;
    width: 18%;
}

.colors li.tint {
    width: 48%;
}

.colors .darkred {
    background-color: #ab2d31;
}

.colors .red {
    background-color: #d4363b;
}

.colors .darkblue {
    background-color: #253948;
}

.colors .blue {
    background-color: #9dcdf1;
}

.colors .green {
    background-color: #82ac39;
}

.red.tint {
    background-color: #ffbdbf;
}

.green.tint {
    background-color: #b7d49d;
}

/* Textures */

.textures ul {
    margin: 0;
    padding: 0;
}

.textures li {
    float: left;
    list-style-type: none;
    margin: 1%;
    padding-bottom: 20%;
    width: 31%;
}

.textures .redtable {
    background: #ffffff url(../img/tablecloth_red.png) repeat;
}

.textures .bluetable {
    background: #ffffff url(../img/tablecloth_blue2.png) repeat;
}

.textures .greentable {
    background: #ffffff url(../img/tablecloth_green.png) repeat;
}

/* Buttons */

#buttons {
    margin: 0 auto;
    padding: 5%;
    max-width: 1000px;
    background: #253948;

}

#buttons ul {
    margin: 0;
    padding: 0;
}

#buttons li {
    float: left;
    width: 47%;
    margin: 3% 1%;
    list-style-type: none;
    height: 45px;
    text-align: center;
}

#buttons li.hover {
    margin-left: 3%;
}

#buttons li.submit {
    width: 100%;
}

#buttons a {
    display: block;
    color: #ffffff;
    line-height: 45px;
}

#buttons a:hover {
    text-decoration: none;
}

#buttons .default a, #buttons .hover a {
    border-right: 10px solid #ffbdbf;
    border-left: 10px solid #ab2d31;
}

#buttons .default a {
    background: url(../img/button1.png) center repeat-x;
}

#buttons .hover a {
    background: url(../img/button1.png) center repeat-x;
}

#buttons .hover a:hover {
    background: url(../img/button2.png) center repeat-x;
    border-left: 10px solid #d4363b;
}

#buttons .submit a {
    background: url(../img/button3.png) center no-repeat;
    color: #d4363b;
    line-height: 58px;
    width: 100%;
}

