html {
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
    font-size: 14px;
    color: #253948;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Ruda', sans-serif;
    color: #d4363b;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
    letter-spacing: .5px;
}

a {
    color: #82ac39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.clear { clear: both; }

/* Header */

#header {
    width: 100%;
    margin: 0 auto;
    padding: 8px 0 0;
    background: url(../img/tablecloth_red.png) repeat;
    border-bottom: 8px solid #d4363b;
}

#header img {
    display: block;
    margin: 0 auto;
    max-width: 154px;
}

/* Menu */

#menu {
    margin: 0 auto;
    padding: 20px 0 0;
    max-width: 1000px;
}

#menu ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
    list-style: none;
    line-height: normal;
    background-color: #d4363b;
    border-top: 8px solid #d4363b;
}

#menu li {
    color: #ffffff;
    padding: 0 1%;
    margin: 0 1%;
    display: inline-block;
    background-color: #d4363b;
}

#menu a {
    font-size: .87em;
    display: block;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffbdbf;
    border: none;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Page */

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Typography */

#typography {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Icons */

#typography ul {
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 200px;
}

#typography li {
    float: left;
    list-style-type: none;
}

.icons a {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-image: url(../img/icons.png) ;
    background-repeat: no-repeat;
}

.icons a:hover {
    text-decoration: none;
}

.breakfast a {
    background-position: 0px 0px;
}

.breakfast a:hover {
    background-position: -100px 0px;
}

.sandwiches a {
    background-position: 0px -100px;
}

.sandwiches a:hover {
    background-position: -100px -100px;
}

.hotdogs a {
    background-position: 0px -200px;
}

.hotdogs a:hover {
    background-position: -100px -200px;
}

.dessert a {
    background-position: 0px -300px;
}

.dessert a:hover {
    background-position: -100px -300px;
}

/* Swatches */

#swatches {
    margin: 0 auto 20px;
    padding: 5%;
    max-width: 1000px;
}

/* Colors */

.colors ul {
    margin: 0;
    padding: 0;
}

.colors li {
    float: left;
    list-style-type: none;
    margin: 1%;
    padding-bottom: 15%;
    width: 18%;
}

.darkred {
    background-color: #ab2d31;
}

.red {
    background-color: #d4363b;
}

.darkblue {
    background-color: #253948;
}

.blue {
    background-color: #9dcdf1;
}

.green {
    background-color: #82ac39;
}

.colors .redtint {
    background-color: #ffbdbf;
    width: 58%;
    padding-bottom: 30%;
}

.colors .greentint {
    background-color: #b7d49d;
    width: 38%;
    padding-bottom: 30%;
}

/* Textures */

.textures img {
    width: 100%;
}

.textures ul {
    margin: 0;
    padding: 0;
}

.textures li {
    float: left;
    list-style-type: none;
    margin: 1%;
    padding-bottom: 40%;
    width: 38%;
}

.textures .redtable {
    background: #ffffff url(../img/tablecloth_red.png) repeat;
    width: 58%;
    border-top: 10px solid rgba(255, 189, 191, .5);
    border-bottom: 10px solid rgba(255, 189, 191, .5);
}

.textures .greentable {
    background: #ffffff url(../img/tablecloth_green.png) repeat;
    border-top: 10px solid rgba(183, 212, 157, .6);
    border-bottom: 10px solid rgba(183, 212, 157, .6);
}

.textures .woodtable {
    width: 98%;
    padding-bottom: 0;
}

/* Buttons */

#buttons {
    margin: 0 auto;
    padding: 5%;
    max-width: 1000px;
    background: #253948;
}

#buttons ul {
    margin: 0;
    padding: 0;
}

#buttons li {
    float: left;
    width: 46%;
    margin: 5% 2%;
    list-style-type: none;
    text-align: center;
}

#buttons li.hover {
    margin-left: 3%;
}

#buttons li.submit_red,
#buttons li.submit_green {
    width: 100%;
}

#buttons a {
    display: block;
    color: #d4363b;
    line-height: 45px;
    height: 45px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

#buttons a:hover {
    text-decoration: none;
}

#buttons .default_red a,
#buttons .hover_red a ,
#buttons .default_green a ,
#buttons .hover_green a {
    background: #ffffff;
    border-width: 8px;
    border-style: solid;
}

#buttons .default_red a,
#buttons .hover_red a {
    border-right-color: #ffbdbf;
    border-left-color: #ab2d31;
    border-top-color: #ffbdbf;
    border-bottom-color: #ab2d31;
}

#buttons .hover_red a:hover {
    border-left-color: #d4363b;
    border-bottom-color: #d4363b;
}

#buttons .default_green a,
#buttons .hover_green a {
    color: #82ac39;
    border-right-color: #b7d49d;
    border-left-color: #437530;
    border-top-color: #b7d49d;
    border-bottom-color: #437530;
}

#buttons .hover_green a:hover {
    border-left-color: #82ac39;
    border-bottom-color: #82ac39;
}

#buttons .submit_red a {
    background: url(../img/btn_red.png) center no-repeat;
}

#buttons .submit_green a {
    background: url(../img/btn_green.png) center no-repeat;
    color: #82ac39;
}

#footer {
    text-align: center;
    padding: 2%;
}

@media (min-width: 500px) {
    #menu li {
        margin: 0 2%;
    }

    #menu a {
        font-size: 1em;
    }

    #typography ul {
        padding: 20px 0 20px;
        width: 400px;
    }
}

@media (min-width: 700px) {
    #typography {
        width: 300px;
        position: absolute;
        top: 36%;
        padding-left: 35px;
    }

    #typography ul {
        padding: 20px 0 10px;
        width: 200px;
    }

    #swatches {
        float: left;
        padding: 0 5% 5% 370px;
    }

    #buttons {
        clear: both;
    }

    #buttons li.submit_red,
    #buttons li.submit_green {
        width: 46%;
    }
}